<h1>Log in</h1>  
  
<%= form_tag( :controller => "sessions", :action => "create" ) do %>  
  <div class="field">  
    <%= label_tag :password %>  
    <%= password_field_tag :password %>  
  </div>  
  <p>パスワードはあなたの名前です。</p>
  <div class="actions"><%= submit_tag "Log in" %></div>  
<% end %>  
