/* Move down content because we have a fixed navbar that is 50px tall */
/*
body {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
*/
.navbar {
    color: #FFFFFF;
    background-color: #583920;
}
.btn-primary {
    color: #FFFFFF;
    background-color: #583920;    
}
.btn-primary:hover {
    color: #FFFFFF;
    background-color: #785940;    
}
